<div class="w-75 mx-auto py-3">
    <form  [formGroup]="registerForm">

          <label for="firstname">firstname</label>
          <input formControlName="firstname" type="text" class="form-control input-mine mb-3" name="firstname" id="firstname">
           <div *ngIf="registerForm.get('firstname')?.errors && registerForm.get('firstname')?.touched" class="alert alert-danger py-2">
                   <p class="m-0" *ngIf="registerForm.get('firstname')?.getError('required')">first_name is required</p>
                   <p class="m-0" *ngIf="registerForm.get('firstname')?.getError('minlength')">first_name is minlength is 3</p>
                   <p class="m-0" *ngIf="registerForm.get('firstname')?.getError('maxlength')">first_name is maxlength is 10</p>
           </div>
          <label for="lastname">lastname</label>
          <input formControlName="lastname" type="text" class="form-control input-mine mb-3" name="lastname" id="lastname">
          <div *ngIf="registerForm.get('lastname')?.errors && registerForm.get('lastname')?.touched" class="alert alert-danger py-2">
            <p class="m-0" *ngIf="registerForm.get('lastname')?.getError('required')">last_name is required</p>
            <p class="m-0" *ngIf="registerForm.get('lastname')?.getError('minlength')">last_name is minlength is 3</p>
            <p class="m-0" *ngIf="registerForm.get('lastname')?.getError('maxlength')">last_name is maxlength is 10</p>
          </div>
          <label for="age">age</label>
          <input formControlName="age" type="text" class="form-control input-mine mb-3" name="" id="age">
          <div *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched" class="alert alert-danger py-2">
            <p class="m-0" *ngIf="registerForm.get('age')?.getError('required')">age is required</p>
            <p class="m-0" *ngIf="registerForm.get('age')?.getError('minlength')">age must be bigger then 15 year</p>
            <p class="m-0" *ngIf="registerForm.get('age')?.getError('maxlength')">age must be less than 31</p>
        </div>
          <label for="email">email</label>
          <input formControlName="email" type="text" [(ngModel)]="email" class="form-control input-mine mb-3" name="" id="email">
          <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger py-2">
            <p class="m-0" *ngIf="registerForm.get('email')?.getError('required')">email is required</p>
            <p class="m-0" *ngIf="registerForm.get('email')?.getError('email')">email is not valid</p>
         </div>
          <label for="password">password</label>
          <input formControlName="password" type="password" [(ngModel)] ="password" class="form-control input-mine mb-3" name="" id="password">
          <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger py-2">
            <p class="m-0" *ngIf="registerForm.get('password')?.getError('required')">password is required</p>
            <p class="m-0" *ngIf="registerForm.get('password')?.getError('pattern')">password must be uppercase</p>
         </div>
          <button (click)="formregiter(registerForm)" class="btn btn-info">
              <span *ngIf="!isLoading">register</span>
              <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          </button>
    </form>
</div>
